:root{
    --bq-nice-font: 'Bubblegum Sans', Regular;
    --bq-basic-font: Helvetica;
    --bq-footer-height: 40px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    overflow-x: hidden;
}

body.sticky-footer {
    margin-bottom: var(--bq-footer-height);
}

body.sticky-footer .content-wrapper {
    min-height: calc(100vh - 56px - var(--bq-footer-height));
}

body.fixed-nav {
    padding-top: 56px;
}

table{
    text-align: center;
}

.content-wrapper {
    min-height: calc(100vh - 56px);
    padding-top: 1rem;
}

.game-menu{
    display: flex;
    justify-content: space-between; 
    width: 100%;
}

#mainNav{
    color: #aedd94 !important;
    background-color: #355723 !important;
    border-bottom: 4px solid #aedd94;
}

.navbar-brand{
    color: #aedd94 !important;
    font-family: 'Bubblegum Sans', Regular;
    font-size: 26px;
    font-weight: bold;
}

input {
    background-color: #FFFFFF;
    border: 2px solid;
    border-color: #355723;
    border-radius: 3px;

    color: grey;
    caret-color: grey;
}

input:focus {
    border: 4px solid;
    border-color: #204010;
}

input::placeholder {
    color: grey;
}

#connect > .bq-button{
    margin-left: 24px;
}

.bq-button{
    font-family: var(--bq-nice-font);
    background-color:#355723 !important;
    border: 4px solid #aedd94 !important;
    border-radius: 9px !important;
    color : #aedd94 !important;
    padding: 2px 40px 2px 40px !important;
}

#inscription > .bq-button, #updateInfo .bq-button {
    font-size: 41px;
    width: 50%;
}

.bq-button:hover{
    background-color:#aedd94 !important;
    border: 4px solid #355723 !important;
    color : #355723 !important;
}

#footer {
    font-family: var(--bq-basic-font);
    font-size: 14px;
    color: #aedd94;
}

footer.sticky-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: var(--bq-footer-height);
    background-color: #355723;
    line-height: 39px;
}

.base-main-content{
    margin-top: 80px;
    margin-bottom: 80px;
}

#bq-info-page {
    font-size: 48px;
    margin-left: 1.5%;
    color: #355723;
    font-family: var(--bq-nice-font);
}

.bq-sub-info{
    font-size: 36px;
    color: #355723;
    font-family: var(--bq-nice-font);
    margin-left: 3%;
    margin-top: 4%;
    margin-bottom: 6%;
}

#inscription > input{
    margin-bottom: 25px;
}

#inscription{
    padding-top: 35px;
}

#inscriptionTitle{
    width: 80%;    
    margin-top: 30px;
    border-bottom: 5px solid !important;
    border-bottom-color: #355723 !important;
    color: #355723;
}

.bq-info-label{
    width: 80%;
    border-bottom: 5px solid !important;
    border-bottom-color: #355723 !important;
    padding-bottom: 1%;
    color: #355723;
    font-weight: bold;
    margin-bottom: 2.5%;
    font-size: 34px;
}

#disconnectButton{
    color: #aedd94;
}

#disconnectButton:hover{
    color: whitesmoke;
}

.game-menu > button {
    width: 30%;
    min-height: 300px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    background-color: #aedd94;
    color: #355723;
    font-family: var(--bq-nice-font);
    font-size: 36px;
    border: none;
}

.game-menu > button:hover {
    border: 2px solid #355723;
}

.game-menu:first-child {
    margin-left: 2%;
}

.game-menu:last-child{
    margin-right: 2%;
}

.bq-input-medium{
    width: 39.5%;
}

.bq-input-large{
    width: 80%;
}

#main-logo {
    margin-top: 30px;
    height:500px;
}

#bq-retour {
    background-color: #aedd94;
    border: none;
    color: #355723;
    font-size: 24px;
    font-family: var(--bq-nice-font);
    width: 7%;
    min-height: 40px;
}

#bq-retour:hover {
    border: 2px solid #355723;
}

#bq-fixed-retour {
    z-index: 999;
    position: fixed;
    background-color: #aedd94;
    border: none;
    color: #355723;
    font-size: 24px;
    font-family: var(--bq-nice-font);
    width: 7vw;
    left: 2vw;
    bottom: 4vh;
    min-height: 40px;
}

#bq-fixed-retour:hover {
    border: 2px solid #355723;
}

#updateInfo input {
    margin-bottom: 2.5%;
}

#updateInfo pre {
    font-family: var(--bq-basic-font);
    font-size: 24px;    
    color: #355723;
    margin-bottom: 0px;
}

#updateInfo .bq-button{
    margin-left: 30%;
}

.game-menu-label {
    margin-bottom: 0.8em;
}

.bq-scoreboard{
    color: #355723;
    display: grid;
    font-family: var(--bq-nice-font);
    font-size: 28px;
    margin-bottom: 10px;
}

.bq-scoreboard div{
    text-decoration: none;
    color: #355723;
}

.bq-scoreboard div:nth-child(1){
    text-align: right;
}

.bq-scoreboard div:nth-child(2){
    background-color: #00441b;
    color: #dfedd6;
    text-indent: 10px;
}

.bq-scoreboard div:nth-child(4){
    margin-left: 10px;
}

.bq-scoreboard:last-child{
    margin-bottom: 6%;
}

.bq-circle {
    display:flex;
    align-items: center;
    border: 10px solid;
    border-color: #355723;
    border-radius: 100%; 
    font-family: var(--bq-nice-font);
    font-size: 60px;
    color: #355723;
    background-color: #aedd94;
    width: 200px;
    height: 200px;
}

.bq-circle span{
    width: 100%;
    text-align: center; 
}

#bq-mybestscore{
    font-family: var(--bq-nice-font);

    display:flex;
    align-items: center;
    margin-bottom: 3%;
}

#bq-mybestscore > span{
    font-size: 48px;
    font-family: var(--bq-nice-font);
    color: #355723;
}

#bq-mybestscore div{
    margin-left: 50px;
    margin-right: 30px;
}

#bq-mesScoresLink{
    color: #355723;
    font-size: 36px;
    text-decoration: underline;
    font-family: var(--bq-nice-font);
    margin-left: 45%;
}

#bq-mesScoresLink:hover {
    border: 2px solid #aedd94;
}

.bq-table{
    width: 100%;
    font-size: 24px;
    font-family: var(--bq-nice-font);
}

.bq-table th{
    background-color: #355723;
    color: #d3f8bd;
}

.bq-table tr{
    color: #2a3e1e;
}

.bq-table tr:nth-child(even) td{
    background-color: #c0c0c0;
}

.bq-table tr:nth-child(odd) td{
    background-color: #d6d6d6;
}

#bq-searchbar{
    width: 33%;
    border: 2px solid;
    border-color: #355723;
    border-radius: 13px;
    margin-top: 4%;
    margin-bottom: 3%;
    margin-left: 5%;
}

#bq-searchbar::placeholder{
    color: #355723;
    font-size: 24px;
    text-align: center;
}

#bq-searchtab {
    align-self: center;
    margin-bottom: 5%;
    margin-left: 5%;
    width: 90%;
}

.partie-menu > button{
    width: 90%;
    min-height: 16vh;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;

    background-color:#aedd94 !important;
    color : #355723 !important;
    border: none;
    font-family: var(--bq-nice-font);
    font-size: 36px;
}

.partie-menu > button:hover {
     border: 2px solid #355723;
}

#bq-create-partie {
    display: grid;
    justify-content: center;
}

#bq-create-partie > *{
    width: 80vw;
}

#bq-create-partie input{
    font-size: 24px;
    color: #355723;
    text-align: center;
    background-color: #cbe8ba;
    margin-top: 5vh;
    min-height: 54px;
}

#bq-create-partie select {
    font-size: 24px;
    color: #355723;
    background-color: #cbe8ba;
    border: 2px solid;
    border-color: #355723;
    border-radius: 3px;
    text-align: center;
    
    margin-top: 7vh;
    min-height: 54px;
}

#bq-create-partie .bq-button {
   margin-left: 15vw;
    width: 50vw;
    margin-top: 16.5vh;
    margin-bottom: 10vh;
}

#bq-create-partie input::placeholder{
    font-size: 24px;
    color: #355723;
}

#bq-join .bq-button{
    font-size: 36px;
    margin-left: 80vw;
}

.bq-game{
    background-color: #fefac0;
}

#bq-reponses button{
    border-radius: 100%;
    min-width: 15vw;
    min-height: 15vw;
}

#bq-choix_un {
    background-color: #e9403b;
}

#bq-choix_deux {
    background-color: #0844a4;
}

#bq-les_deux {
    background-color: #ff6624;
}